* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 980px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 24px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.nav-links a {
    color: #E5E7EB;
}