* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

nav, header {
    background-color: #1F2937;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.nav-links a {
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 16px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-content p {
    color: #E5E7EB;
    margin-bottom: 12px;
    margin-right: 20px;
    flex: auto;
}

.hero-image {
    color: #E5E7EB;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 440px;
}

.button {
    padding: 8px 24px;
    text-decoration: none;
    border: none;
}

.primary {
    background-color: #3882F6;
}

.button.primary {
    color: #F9FAF8;
    border-radius: 4px;
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 36px;
    padding-bottom: 80px;
}

.showcase h2 {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 40px;
}

.card p {
    margin-top: 8px;
    text-align: center;
    color: #666;
}

.card-image {
    border: 4px solid #3882F6;
    min-width: 160px;
    min-height: 160px;
    border-radius: 12px;
}